MONGO_URI=mongodb+srv://ERP:26451685993@minibazarerp.cejclol.mongodb.net/?appName=MiniBazarERP
JWT_SECRET=123f4b3b2abd379ecb3fbee6439d59fc3310bb76ba47cb889a5e6e290a83fcce
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=*
NODE_ENV=development
MAX_FILE_SIZE=5242880
